 <div id="pub_footer"><div class="company-info fix">
        <div class="g-footer">
            <div class="g-hor-middle">
                <div class="company-info fix">
                    <a href="http://www.7725.com" title="7725游戏" ><div class="footer-logo fl"></div></a>
                    <div class="cpinfo fl">
                        <p>广州杰茜卡信息科技有限公司   版权所有  <a style="color:#999999;" href='http://www.miitbeian.gov.cn' target='blank'>粤ICP备17000485号-1</a>  <a style="color:#999999;" href='http://resource.7725.com/Home/杰茜卡-文网文.jpg' target='blank'>粤网文[2017] 1854-227号 </a></p>
                        <p>文化部网络游戏举报和联系电子邮箱：wlwh@vip.sina.com</p>
                    </div>
                </div>
            </div>
        </div>
</div></div>   
</body></html>