<!DOCTYPE html>
<html class=" video"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>7725铁血大秦</title>
    <meta name="description" content="7725铁血大秦">
    <meta name="keywords" content="7725铁血大秦">
    <!--Design:swhy @ Coding:wangjia cms：zhutianjie-->
    <link rel="stylesheet" href="__PUBLIC__txdq/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__txdq/css/common.css">
    <script type="text/javascript" src="__PUBLIC__txdq/js/freeStore_foot.js"></script><script type="text/javascript" src="__PUBLIC__txdq/js/statistics_ty_v1.js"></script><script type="text/javascript" src="__PUBLIC__txdq/js/modernizr.js"></script>

<link rel="stylesheet" href="__PUBLIC__txdq/css/live.css" id="ui_popbroad_" style=""><link rel="stylesheet" type="text/css" href="__PUBLIC__txdq/css/pub-footer.css"></head>

<body>
<div class="bg">
<div class="nav">
    <div class="navbg"></div>
    <a href="http://txdq.7725.com/"><img src="__PUBLIC__txdq/images/jz.png" class="logo" width="320"></a>
    <div class="menu">
        <a href="index_index.html"><b>首页</b><br>HOME</a>
        <a href="news_index.html"><b>新闻资讯</b><br>NEWS</a>
        <a href="photo_index.html"><b>游戏资料</b><br>PHOTO</a>
    </div>
    <div class="m_sns">
    <a href="javascript:;" class="a1"></a>
    <a href="http://weibo.com/u/6163246828?is_hot=1" class="a2" target="_blank"></a>
    <a href="https://jq.qq.com/?_wv=1027&k=4C4mOzm" class="a3" target="_blank"></a>
    <!-- <a href="http://tieba.baidu.com/f?kw=%E4%B9%9D%E9%98%B4%E5%86%B3%E6%88%98&amp;fr=wwwt" class="a4" target="_blank"></a> -->
    <img src="__PUBLIC__txdq/images/sns-ewm.png" class="none" style="display: none;width: 125px;height: 125px;">
</div>
</div>